<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/public/style.css">
        <script type="text/javascript" src="/node_modules/paper/dist/paper-full.js"></script>
        {{!-- <script type="text/javascript" src="/paper-full.js"></script> --}}
        <script type="text/paperscript" src="/public/paperApp.js" canvas="myCanvas"> </script>

    </head>
    <body>
        <div class="container">

            <canvas id="myCanvas" resize="true"></canvas>
            
            <div class="text">           
            </div>

        </div>
        <script type="text/javascript" src="/public/app.js"></script>
    </body>
</html>