.container {
	position: absolute;

	background-color: white;
	border: 3px solid #d35c73;
	border-radius: 6px;

	height: 45vh;
	width: fit-content;

	overflow: visible;
	line-height: 1.7;

	font-size: 21px;
}

.container p {
	color:rgb(50,50,50);
	margin-bottom: 2rem;
}

.container p::selection {
	background-color: #ffb255;
}
