.wordTitle {
    font-size: 10vh;
    font-weight: 700;
    color: #d35c73;
}

.logoContainer {
    display: flex;
    position: absolute;
    align-items: baseline;
    width: fit-content;
    background: black;
}

.logoSVGContainer {
    position: absolute;
}

.logoSVG {
    fill: #d35c73;
}

.circle {
    fill: white;
}
