.wordTitle {
    font-size: 10vh;
    font-weight: 700;
    color: rgb(0, 0, 0);
    padding: 1px;
}

.logoContainer {
    display: flex;
    float: left;
    position: absolute;
    align-items: baseline;
    width: fit-content;
    
}

.logoSVGContainer {
    position: absolute;
}

.logoSVG {
    fill: black;
}

.circle {
    fill: white;
}
