.container {
	width: 40rem;
	padding: 0 2rem 0 1rem;
}

.para {
	color: #d35c73;
	margin-bottom: 2rem;
}

.para::selection {
	background-color: #ffb255;
}

.title {
	font-size: 3rem;
	width: fit-content;
	font-weight: 700;
	color: white;
	background-color: #ffb255;
	padding: 1rem;
	border-radius: 6px;
}
