.container {
    position: absolute;
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.5rem 1rem;
    z-index: 100;
    cursor: pointer;
}

.nav {
    color: rgb(50,50,50);
    margin-right: 2rem;
}
